<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>修改密码</title>
        <script th:src="@{/webjars/jquery/3.3.1/jquery.min.js}"></script>
    </head>
    <body>
        <span th:text="${err_msg}" th:if="${not #strings.isEmpty(err_msg)}"></span>
        <form name="editpassword" method="post" action="#" th:action="@{/editpassword}">
            <input type="text" name="oldpassword" id="oldpassword"><span id="oldpassword_err"></span><br/>
            <input type="text" name="password" id="password"><span id="password_err"></span><br/>
            <input type="text" name="password_two" id="password_two"><span id="passwordtwo_err"></span><br/>
            <input id="editpassword_btn" type="button" value="确定">
        </form>
    </body>
    <script>
        $(document).ready(function(){
            checkSubmit();
            checkBlur();
        })

        function checkOldPassword() {
            if($('#oldpassword').val()==""){
                $("#oldpassword_err").html("<font color='red'>"+"原密码不能为空"+"</font>");
                return false;
            }
            else{
                $("#oldpassword_err").empty();
                return true;
            }
        }

        function checkPasswordOne() {
            if($('#password').val()==""){
                $("#password_err").html("<font color='red'>"+"新密码不能为空"+"</font>");
                return false;
            }
            else{
                if($('#password').val().length<6||$('#password').val().length>16){
                    $("#password_err").html("<font color='red'>"+"密码长度必须大于6小于16个字符"+"</font>");
                    return false;
                }
                else {
                    $("#password_err").empty();
                    return true;
                }
            }
        }

        function checkPasswordTwo() {
            if($('#password_two').val()==""){
                $("#passwordtwo_err").html("<font color='red'>"+"确认密码不能为空"+"</font>");
                return false;
            }
            else if($('#password').val()!=$('#password_two').val()){
                $("#passwordtwo_err").html("<font color='red'>"+"两次输入密码不一致"+"</font>");
                return false;
            }
            else {
                $("#passwordtwo_err").empty();
                return true;
            }
        }

        function checkSubmit() {
            $("#editpassword_btn").click(function(){
                var checkoldpassword=checkOldPassword();
                var checkpasswordone=checkPasswordOne();
                var checkpasswordtwo=checkPasswordTwo();
                if(checkoldpassword&&checkpasswordone&&checkpasswordtwo){
                    $('#editpassword_btn').attr('type','submit');
                }
            })
        }

        function checkBlur() {
            $('#oldpassword').blur(function(){
                checkOldPassword();
            });
            $('#password').blur(function(){
                checkPasswordOne();
            });
            $('#password_two').blur(function(){
                checkPasswordTwo();
            });
        }
    </script>
</html>