<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>找回密码</title>
    <meta name="description" content="User login page" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

    <!-- bootstrap & fontawesome -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="assets/font-awesome/4.5.0/css/font-awesome.min.css" />

    <!-- text fonts -->
    <link rel="stylesheet" href="assets/css/fonts.googleapis.com.css" />

    <!-- ace styles -->
    <link rel="stylesheet" href="assets/css/ace.min.css" />

    <!--[if lte IE 9]>
    <link rel="stylesheet" href="assets/css/ace-part2.min.css" />
    <![endif]-->
    <link rel="stylesheet" href="assets/css/ace-rtl.min.css" />

    <!--[if lte IE 9]>
    <link rel="stylesheet" href="assets/css/ace-ie.min.css" />
    <![endif]-->

    <!-- HTML5shiv and Respond.js for IE8 to support HTML5 elements and media queries -->

    <!--[if lte IE 8]>
    <!--<script src="assets/js/html5shiv.min.js"></script>-->
    <!--<script src="assets/js/respond.min.js"></script>-->
    <![endif]-->

    <script th:src="@{/webjars/jquery/3.3.1/jquery.min.js}"></script>
</head>
<body class="login-layout blur-login">
<div class="main-container">
    <div class="main-content">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <div class="login-container" style="margin-top:100px;">
                    <div class="center">
                        <h1>
                            <i class="ace-icon fa fa-leaf green"></i>
                            <span class="red"></span>
                            <span class="white" id="id-text2">在线考试系统</span>
                        </h1>
                        <h4 class="blue" id="id-company-text"></h4>
                    </div>

                    <div class="space-6"></div>

                    <div class="position-relative">

                        <div id="forgot-box" class="forgot-box visible widget-box no-border">
                            <div class="widget-body">
                                <div class="widget-main">
                                    <h4 class="header red lighter bigger">
                                        <i class="ace-icon fa fa-key"></i>
                                        找回密码
                                    </h4>

                                    <div class="space-6"></div>
                                    <label>
                                        <span style="color: red" th:text="${err_msg}" th:if="${not #strings.isEmpty(err_msg)}"></span>
                                    </label>

                                    <form name="forgetpassword" method="post" action="#" th:action="@{/forgetpassword}">
                                        <fieldset>
                                            <label class="block clearfix">
                                                    <span class="block input-icon input-icon-right">
                                                        <input type="email" class="form-control" placeholder="Email" name="mail" id="mail"/>
                                                        <i class="ace-icon fa fa-envelope"></i>
                                                        <span id="mail_err"></span>
                                                    </span>
                                            </label>

                                            <label>
                                                <input type="text" name="verificationcode" id="verificationcode"/>
                                                <img src="getverify" alt="更换验证码" width="80" height="33" onclick="changeValidateCode(this)">
                                                <span id="verification_code_err"></span><br/>
                                            </label>

                                            <div class="clearfix">
                                                <button type="button" class="width-35 pull-right btn btn-sm btn-danger" id="forget_password_btn">
                                                    <i class="ace-icon fa fa-lightbulb-o"></i>
                                                    <span class="bigger-110">发送</span>
                                                </button>
                                            </div>
                                        </fieldset>
                                    </form>
                                </div><!-- /.widget-main -->

                                <div class="toolbar center">
                                    <a href="gotopage?pagename=login" data-target="#login-box" class="back-to-login-link">
                                        马上登录
                                        <i class="ace-icon fa fa-arrow-right"></i>
                                    </a>
                                </div>
                            </div><!-- /.widget-body -->
                        </div><!-- /.forgot-box -->

                    </div><!-- /.position-relative -->


                </div>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.main-content -->
</div><!-- /.main-container -->

<!-- basic scripts -->

<!--[if !IE]> -->
<script src="assets/js/jquery-2.1.4.min.js"></script>

<!-- <![endif]-->

<!--[if IE]>
<script src="assets/js/jquery-1.11.3.min.js"></script>
<![endif]-->
<script type="text/javascript">
    if('ontouchstart' in document.documentElement) document.write("<script src='assets/js/jquery.mobile.custom.min.js'>"+"<"+"/script>");
</script>

<script type="text/javascript">
    $(document).ready(function(){
        checkSubmit();
        checkBlur();
    });

    function checkMail() {
        var isEmail = /^[A-Za-z\d]+([-_.][A-Za-z\d]+)*@([A-Za-z\d]+[-.])+[A-Za-z\d]{2,4}$/;
        var mail=$('#mail').val();
        if(mail == ""){
            $("#mail_err").html("<font color='red'>"+"邮箱不能为空"+"</font>");
            return false;
        }
        else if(!(isEmail.test(mail))){
            $("#mail_err").html("<font color='red'>"+"邮箱格式不正确"+"</font>");
            return false;
        }
        else{
            $("#mail_err").empty();
            return true;
        }
    }

    function checkVerificationCode() {
        if($('#verificationcode').val()==""){
            $("#verification_code_err").html("<font color='red'>"+"验证码不能为空"+"</font>");
            return false;
        }
        else{
            $("#verification_code_err").empty();
            return true;
        }
    }

    function checkBlur() {
        $('#mail').blur(function(){
            checkMail();
        });
        $('#verificationcode').blur(function(){
            checkVerificationCode();
        });
    }

    function checkSubmit() {
        $("#forget_password_btn").click(function(){
            var checkmail=checkMail;
            var checkverificationcode=checkVerificationCode();
            if(checkmail&&checkverificationcode)
                $('#forget_password_btn').attr('type','submit');
        });
    }

    function changeValidateCode(obj) {
        //获取当前的时间作为参数，无具体意义
        var timenow = new Date().getTime();
        //每次请求需要一个不同的参数，否则可能会返回同样的验证码
        //这和浏览器的缓存机制有关系，也可以把页面设置为不缓存，这样就不用这个参数了。
        obj.src="getverify?d="+timenow;
    }
</script>
</body>
</html>

