<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <meta name="description" content="User login page" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

    <!-- bootstrap & fontawesome -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="assets/font-awesome/4.5.0/css/font-awesome.min.css" />

    <!-- text fonts -->
    <link rel="stylesheet" href="assets/css/fonts.googleapis.com.css" />

    <!-- ace styles -->
    <link rel="stylesheet" href="assets/css/ace.min.css" />

    <!--[if lte IE 9]>
    <link rel="stylesheet" href="assets/css/ace-part2.min.css" />
    <![endif]-->
    <link rel="stylesheet" href="assets/css/ace-rtl.min.css" />

    <!--[if lte IE 9]>
    <link rel="stylesheet" href="assets/css/ace-ie.min.css" />
    <![endif]-->

    <!-- HTML5shiv and Respond.js for IE8 to support HTML5 elements and media queries -->

    <!--[if lte IE 8]>
    <!--<script src="assets/js/html5shiv.min.js"></script>-->
    <!--<script src="assets/js/respond.min.js"></script>-->
    <![endif]-->

    <script th:src="@{/webjars/jquery/3.3.1/jquery.min.js}"></script>
</head>
<body class="login-layout blur-login">
<div class="main-container">
    <div class="main-content">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <div class="login-container" style="margin-top:100px;">
                    <div class="center">
                        <h1>
                            <i class="ace-icon fa fa-leaf green"></i>
                            <span class="red"></span>
                            <span class="white" id="id-text2">在线考试系统</span>
                        </h1>
                        <h4 class="blue" id="id-company-text"></h4>
                    </div>

                    <div class="space-6"></div>

                    <div class="position-relative">
                        <div id="login-box" class="login-box visible widget-box no-border">
                            <div class="widget-body">
                                <div class="widget-main">
                                    <h4 class="header blue lighter bigger">
                                        <i class="ace-icon fa fa-coffee green"></i>
                                        登录考试系统
                                    </h4>

                                    <div class="space-6"></div>
                                    <label>
                                        <span style="color: red" th:text="${err_msg}" th:if="${not #strings.isEmpty(err_msg)}"></span>
                                    </label>
                                    <form name="login" method="post" action="#" th:action="@{/login}">
                                        <fieldset>
                                            <label class="block clearfix">
														<span class="block input-icon input-icon-right">
															<input type="text" class="form-control" placeholder="Email" name="mail" id="mail" th:value="${mail}"/>
															<i class="ace-icon fa fa-envelope"></i>
                                                            <span id="mail_err"></span>

                                                        </span>
                                            </label>

                                            <label class="block clearfix">
														<span class="block input-icon input-icon-right">
															<input type="password" class="form-control" placeholder="Password" name="password" id="password" th:value="${password}"/>
															<i class="ace-icon fa fa-lock"></i>
                                                            <span id="password_err"></span>
                                                        </span>
                                            </label>

                                            <div class="space"></div>

                                            <div class="clearfix">
                                                <label class="inline">
                                                    <input type="checkbox" class="ace" name="remember_password" id="remember_password" th:checked="${checkbox_statue}"/>
                                                    <span class="lbl"> 记住我</span>
                                                </label>

                                                <button type="button" class="width-35 pull-right btn btn-sm btn-primary" id="login_btn">
                                                    <i class="ace-icon fa fa-key"></i>
                                                    <span class="bigger-110">登录</span>
                                                </button>
                                            </div>

                                            <div class="space-4"></div>
                                        </fieldset>
                                    </form>


                                </div><!-- /.widget-main -->

                                <div class="toolbar clearfix">
                                    <div>
                                        <a href="gotopage?pagename=forgetpassword" data-target="#forgot-box" class="forgot-password-link">
                                            <i class="ace-icon fa fa-arrow-left"></i>
                                            找回密码
                                        </a>
                                    </div>

                                    <div>
                                        <a href="gotopage?pagename=regist" data-target="#signup-box" class="user-signup-link">
                                            立即注册
                                            <i class="ace-icon fa fa-arrow-right"></i>
                                        </a>
                                    </div>
                                </div>
                            </div><!-- /.widget-body -->
                        </div><!-- /.login-box -->

                    </div><!-- /.position-relative -->

                </div>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.main-content -->
</div><!-- /.main-container -->

<!-- basic scripts -->

<!--[if !IE]> -->
<script src="assets/js/jquery-2.1.4.min.js"></script>

<!-- <![endif]-->

<!--[if IE]>
<script src="assets/js/jquery-1.11.3.min.js"></script>
<![endif]-->
<script type="text/javascript">
    if('ontouchstart' in document.documentElement) document.write("<script src='assets/js/jquery.mobile.custom.min.js'>"+"<"+"/script>");
</script>

<script type="text/javascript">
    $(document).ready(function(){
        checkSubmit();
        checkBlur();
    });

    function checkMail() {
        var isEmail = /^[A-Za-z\d]+([-_.][A-Za-z\d]+)*@([A-Za-z\d]+[-.])+[A-Za-z\d]{2,4}$/;
        var mail=$('#mail').val();
        if(mail == ""){
            $("#mail_err").html("<font color='red'>"+"邮箱不能为空"+"</font>");
            return false;
        }
        else if(!(isEmail.test(mail))){
            $("#mail_err").html("<font color='red'>"+"邮箱格式不正确"+"</font>");
            return false;
        }
        else{
            $("#mail_err").empty();
            return true;
        }
    }

    function checkPassword() {
        if($('#password').val()==""){
            $("#password_err").html("<font color='red'>"+"密码不能为空"+"</font>");
            return false;
        }
        else{
            $("#password_err").empty();
            return true;
        }
    }

    function checkSubmit() {
        $("#login_btn").click(function(){
            var checkmail=checkMail();
            var checkpassword=checkPassword();
            if(checkmail&&checkpassword){
                $('#login_btn').attr('type','submit');
            }
        });
    }

    function checkBlur() {
        $('#mail').blur(function(){
            checkMail();
        });
        $('#password').blur(function(){
            checkPassword();
        });
    }
</script>
</body>
</html>

